@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: 0;
    border:0;
}
html{
    font-size: 10px;
}

body{
    background: #3D5A80;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
    font-variant-numeric: slashed-zero;
}
h2{
    margin-bottom: 10px;
    color: #fff;
    font-size: 3rem;
}
.calc-container{
    width: 450px;
    border-radius: 5px;
   height: auto;
   
}
.input-container{
    position: relative;
}
.first-value{
position: absolute;
top: 0;
right: 0;
color: #ccc;
padding: 1rem;
font-size: 1.6rem;
}
.calc-input{
    width: 100%;
    height: 70px;
    background: #293241;
    color: #fff;
    font-size: 5rem;
    text-align: right;
    padding: 60px 20px 30px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.calc-keys{
    background: #293E56;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    padding: 20px;
    border-radius: 10px;
}
.calc-keys button{
    height: 50px;
    background: #E9ECEF;
    border-radius: 3px;
    color: #0a0a0a;
    font-size: 3.5rem;
    cursor: pointer;
    box-shadow: 0 5px #8D959D;
    
}
.calc-keys button:hover{
background: #c3c9ce;
transition: all 0.1s ease-in;
}
.calc-keys button:active{
    box-shadow: 0 1px #adb5bd;
    transform: translateY(4px);
}
.calc-keys .operator{
    color: #375274;
    font-size: 4rem;
}
.calc-keys .equal-sign{
    grid-area: 3/4/6/5;
    height: 100%;
    background: #EA481F;
    box-shadow: 0 5px #A82E10;
    color: #fff;
}
.calc-keys .equal-sign:hover{
    background: #CD3813;
    transition: all 0.1s ease-in;
}
.calc-keys .equal-sign:active{
    box-shadow: 0 1px #A82E10;
    transform: translateY(4px);
}
.calc-keys .clear{
    background: #9b2226;
    color: #fff;
    box-shadow: 0 5px #6e191c;
    font-size: 2rem;
}
.calc-keys .delete{
    background: #ce3340;
    color: #fff;
    box-shadow: 0 5px #91232c;
    font-size: 2.5rem;
    position: relative;
}
.calc-keys .delete::before{
    font-family: "Font Awesome 5 Free";
   content: '\f55a';
    font-weight: 900;
}
.calc-keys .delete:hover{
    background: #b92f3a;
    transition: all 0.1s ease-in;
}
.calc-keys .clear:hover{
    background: #9e3333;
    transition: all 0.1s ease-in;
}
.calc-keys .clear:active{
    box-shadow: 0 1px #6e191c;
    transform: translateY(4px);
}

.swal2-popup {
    font-size: 1.5rem !important;
    font-family: sans-serif!important;
    
  }
.swal2-html-container, .swal2-title{
    color: #fff!important;
  }
  
@media (max-width: 480px) {
   h2{
       font-size: 2rem;
   }
    .calc-container{
        width: 300px;
        
    }
    .calc-keys{
        
        grid-gap: 12px;
        padding: 20px;
        
    }
   .calc-keys button{
       height: 30px;
       font-size: 2rem;
       font-weight: 700;
       box-shadow: 0 3px #8D959D;
       line-height: 30px;
   }
   .calc-keys .delete{
    box-shadow: 0 3px #91232c;
   }
   .calc-keys .clear{
    box-shadow: 0 3px #6e191c;   
    }
   .calc-keys .equal-sign{
    box-shadow: 0 3px #A82E10;
    }
   .calc-input{
       padding:50px 20px 20px 20px;
       font-size: 3.5rem;
       margin-bottom: 10px;
   }
   .first-value{
       font-size: 1.2rem;
   }

   .calc-keys .operator{
       font-size: 3rem;
   }
   .calc-keys button:active, .calc-keys .clear:active, .calc-keys .equal-sign:active {
    transform: translateY(2px);
    }
    
   .calc-keys .delete{
       font-size: 2rem;
   }
   .calc-keys .clear{
       font-size: 1.2rem;
   }
   
  }